@model InspectorWeb.ViewModels.ChangePasswordViewModel

@{
    ViewData["Title"] = "Смена пароля";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h2><strong>Смена пароля</strong></h2><br />
            <span asp-validation-for="Message" class="text-danger"></span>
            <form asp-action="ChangePassword" method="post">
                <div class="form-group">
                    <label asp-for="PasswordOld"></label>
                    <input asp-for="PasswordOld" class="form-control" type="password" placeholder="старый пароль" />
                    <span asp-validation-for="PasswordOld" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PasswordNew1"></label>
                    <input asp-for="PasswordNew1" class="form-control" type="password" placeholder="новый пароль" />
                    <span asp-validation-for="PasswordNew1" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PasswordNew2"></label>
                    <input asp-for="PasswordNew2" class="form-control" type="password" placeholder="повторите новый пароль" />
                    <span asp-validation-for="PasswordNew2" class="text-danger"></span>
                </div>
                <div class="form-check">
                    <button type="submit" class="btn btn-primary">Изменить пароль</button>
                    <button class="btn btn-info" type="reset">Сбросить</button>
                </div>
            </form>
        </div>
    </div>
</div>  