@model InspectorWeb.ViewModels.DocsExaminationTaskViewModel

@{
    ViewData["Title"] = "Новое задание на исследование";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Microsoft.AspNetCore.Mvc.ModelBinding

@section styles
{
    <link href="~/lib/eonasdan-bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-combobox/css/bootstrap-combobox.min.css" rel="stylesheet">
    <link href="~/css/site-forms.css" rel="stylesheet">
    <link href="~/lib/select2/dist/css/select2.min.css" rel="stylesheet" />
    <link href="~/lib/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
}

@section scripts {
    <script src="~/lib/select2/dist/js/select2.min.js"></script>
    <script src="~/lib/moment/moment-with-locales.min.js"></script>
    <script src="~/lib/eonasdan-bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/lib/bootstrap-combobox/js/bootstrap-combobox.min.js"></script>
    <script src="~/lib/jquery.maskedinput/jquery.maskedinput.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.select2-autocomplete').select2();
            examsData = JSON.parse($('input[name*=Examinations]').val());
            ciphersData = JSON.parse($('input[name*=Ciphers]').val());
        });
        $(function () {
            $('.datetimepicker').datetimepicker({ locale: 'ru', format: 'DD.MM.YYYY' });
            $('#formCreate').submit(function (event) {
                $('input[name*=Examinations]').val(JSON.stringify(examsData));
                $('input[name*=Ciphers]').val(JSON.stringify(ciphersData));
            });
        });
    </script>

    @await Component.InvokeAsync("TaskExaminationsGrid");
    @await Component.InvokeAsync("TasksCiphersGrid");
}

@Html.AntiForgeryToken()

<div class="container">
    <br />
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Create" id="formCreate">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="input-group">
                                    <label asp-for="NumberText" class="input-group-addon"></label>
                                    <input asp-for="NumberText" class="form-control" />
                                </div>
                                <span asp-validation-for="NumberText" class="text-danger"></span>
                            </div>
                            <div class="col-md-2">
                                <div class="input-group date">
                                    <label asp-for="Date" class="input-group-addon"></label>
                                    <input asp-for="Date" class="form-control datetimepicker" type="text" />
                                </div>
                                <span asp-validation-for="Date" class="text-danger"></span>
                            </div>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <label asp-for="ClientId" class="input-group-addon"></label>
                                    <select asp-for="ClientId" class="form-control select2-autocomplete" asp-items="ViewBag.Client"></select>
                                </div>
                                <div class="alert alert-danger nomarginbottom" role="alert" style="display:
                                    @(ViewData.ModelState.GetFieldValidationState("ClientId") == ModelValidationState.Invalid ? "block" : "none" );">
                                    <span asp-validation-for="ClientId" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-8">
                                <div class="input-group">
                                    <label asp-for="ExaminationFoundation" class="input-group-addon"></label>
                                    <input asp-for="ExaminationFoundation" class="form-control" />
                                </div>
                                <span asp-validation-for="ExaminationFoundation" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <label asp-for="ExaminationAssignment" class="input-group-addon"></label>
                                    <input asp-for="ExaminationAssignment" class="form-control" />
                                </div>
                                <span asp-validation-for="ExaminationAssignment" class="text-danger"></span>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-4">
                                <div class="input-group">
                                    <label asp-for="OriginCountryId" class="input-group-addon"></label>
                                    <select asp-for="OriginCountryId" class="form-control select2-autocomplete" asp-items="ViewBag.OriginCountry"></select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <label asp-for="DestinationCountryId" class="input-group-addon"></label>
                                    <select asp-for="DestinationCountryId" class="form-control select2-autocomplete" asp-items="ViewBag.DestinationCountry"></select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <label asp-for="SamplingProduction" class="input-group-addon"></label>
                                    <input asp-for="SamplingProduction" class="form-control"></input>
                                </div>
                                <span asp-validation-for="SamplingProduction" class="text-danger"></span>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="input-group">
                                    <label asp-for="Title" class="input-group-addon"></label>
                                    <input asp-for="Title" class="form-control" />
                                </div>
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="input-group">
                                    <label asp-for="CountMassVolume" class="input-group-addon"></label>
                                    <input asp-for="CountMassVolume" class="form-control" />
                                </div>
                                <span asp-validation-for="CountMassVolume" class="text-danger"></span>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-3">
                                <div class="input-group date">
                                    <label asp-for="DateSampling" class="input-group-addon"></label>
                                    <input asp-for="DateSampling" class="form-control datetimepicker" type="text" />
                                </div>
                                <span asp-validation-for="DateSampling" class="text-danger"></span>
                            </div>
                            <div class="col-md-5">
                                <div class="input-group date">
                                    <label asp-for="DateReceipt" class="input-group-addon"></label>
                                    <input asp-for="DateReceipt" class="form-control datetimepicker" />
                                </div>
                                <span asp-validation-for="DateReceipt" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <label asp-for="SamplingStandard" class="input-group-addon"></label>
                                    <input asp-for="SamplingStandard" class="form-control" />
                                </div>
                                <span asp-validation-for="SamplingStandard" class="text-danger"></span>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-4">
                                <div class="input-group">
                                    <label asp-for="HasAppendix" class="input-group-addon"></label>
                                    <input asp-for="HasAppendix" class="form-control" />
                                </div>
                                <span asp-validation-for="HasAppendix" class="text-danger"></span>
                            </div>
                            <div class="col-md-2">
                                <div class="input-group">
                                    <label asp-for="ShouldReturn" class="input-group-addon"></label>
                                    <select asp-for="ShouldReturn" class="form-control" asp-items="ViewBag.ShouldReturn"></select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <label asp-for="SamplingPlace" class="input-group-addon"></label>
                                    <input asp-for="SamplingPlace" class="form-control" />
                                </div>
                                <span asp-validation-for="SamplingPlace" class="text-danger"></span>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <label asp-for="SamplingActorId" class="input-group-addon"></label>
                                    <select asp-for="SamplingActorId" class="form-control" asp-items="ViewBag.SamplingActor"></select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <label asp-for="ExaminationLaboratoryId" class="input-group-addon"></label>
                                    <select asp-for="ExaminationLaboratoryId" class="form-control" asp-items="ViewBag.ExaminationLaboratory"></select>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="input-group">
                                    <label asp-for="Comments" class="input-group-addon"></label>
                                    <input asp-for="Comments" class="form-control" />
                                </div>
                                <span asp-validation-for="Comments" class="text-danger"></span>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="input-group">
                                    <label asp-for="Opinions" class="input-group-addon"></label>
                                    <input asp-for="Opinions" class="form-control" />
                                </div>
                                <span asp-validation-for="Opinions" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row pre-scrollable">
                    <div class="col-md-12">
                        <div id="jsGridExaminations"></div>
                    </div>
                </div>

                <br />

                <div class="row">
                    <div class="col-md-12">
                        <div id="jsGridCiphers"></div>
                    </div>
                </div>

                <br />

                <input asp-for="Examinations" type="hidden" name="Examinations" />
                <input asp-for="Ciphers" type="hidden" name="Ciphers" />

                <div class="form-group">
                    <input type="submit" value="Создать" class="btn btn-default" />
                </div>

            </form>
        </div>
    </div>
</div>