body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/*grid*/
nav.dir-left-menu .navbar-nav > li:first-child {
    border-top: 1px #e5e5e5 solid;
}

nav.dir-left-menu .navbar-nav > li {
    border-bottom: 1px #e5e5e5 solid;
}

nav.dir-left-menu li {
    width: 100%;
}

.nav > li > a.dir-vert-menu {
    padding-top: 5px;
    padding-bottom: 5px;
}

.nopaddingright {
    padding-right: 0;
}

.nopaddingleft {
    padding-left: 0;
}

.dropdown-menu {
    padding: 0;
}
/*grid*/