.nomarginbottom {
    margin-bottom: 0px;
}

.form-control {
    font-weight: bold;
}

.select-autocomplete {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.padding10 {
    padding: 10px;
}